body {
  font-size: 0.95em;
}

#song-nav {
  display: none;
}

.song {
  page-break-after: always;
  font-size: 1.1em;
}

.song .panel-heading {
  background-color: #222 !important;
}

.song .panel-heading h2 {
  color: white !important;
  font-size: 1.3em;
}

.key-info {
  display: none;
}

#nav-col {
  display: none;
}

[class*=panel-], [class*=panel-] > .panel-heading, [class*=panel-] > .panel-heading.meta {
  border-color: #222;

  .license {
    color: white;
  }
}

[class*=panel-] > .panel-heading {
  color: white !important;
  .pull-right, .capo {
    color: white !important;
  }
}

.song .capo {
  color: white;
  right: 15px;
}

.song .select-key {
  display: none;
}

footer {
  display: none;
}
